<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <%# Logo  %>
  <%= link_to image_tag('blogergy.png', class: 'rounded float-left img-fluid', style: 'max-width: 200px'),
  root_path %>

  <%# Toggle Btn - Responsive %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarMenu" aria-controls="navbarMenu" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <%# Menu %>
  <div class="collapse navbar-collapse ml-3" id="navbarMenu">
    <ul class="navbar-nav mr-3 font-weight-bold">
      <li class="nav-item">
        <%= link_to 'Portfolio', root_path, class: 'nav-link' %>
        <span class="sr-only">(current)</span>
      </li>
      <li class="nav-item">
        <%= link_to 'Journal', journal_path, class: 'nav-link' %>
      </li>
      <li class="nav-item">
        <%= link_to 'Articles', articles_path, class: 'nav-link' %>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Others
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <% if logged_in? && current_user.admin %>
            <%= link_to 'Users List', users_path, class: 'dropdown-item' %>
            <div class="dropdown-divider"></div>
          <% end %>
          <a class="dropdown-item" href="#">
            Example
          </a>
        </div>
      </li>
    </ul>
    <form class="form-inline">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
  <% if logged_in? %>
    <div class="dropdown show mr-2">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Hi, <%= current_user.name %>
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <%= link_to 'View Profile', user_path(current_user), class: 'dropdown-item' %>
        <%= link_to 'Edit Profile', edit_user_path(current_user), class: 'dropdown-item' %>
        <%= link_to 'Logout', logout_path, method: :delete, class: 'dropdown-item' %>
      </div>
    </div>
  <% else%>
    <%= link_to 'Login', login_path, class: 'btn btn-outline-primary mr-2', role: 'button' %>
    <%= link_to 'Sign Up', signup_path, class: 'btn btn-success', role: 'button' %>
  <% end%>
</nav>
